/* reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pokeImg{
  border-radius: 10%;
  width: 100%;
  z-index: -1;
}

#svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  font-size: 22px;
  outline: none;
  border: none;
  background: none;
}

#pokeName {
  font-size: 22px;
  color: white;
}