/* reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pokeImg{
  border-radius: 10%;
  width: 100%;
  z-index: -1;
}

#svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  font-size: 22px;
  color: #323232;
  outline: none;
  border: none;
  background: none;
}

#pokeNameContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokeName {
  font-size: 35px;
  color: white;
}

#d_pad_left:hover, #d_pad_right:hover, #d_pad_up:hover, #d_pad_down:hover {
  fill:aqua;
}

#_317605376:hover {
  fill: yellow;
}